body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.bg-menu{
    background-color: #151c48;
    
}
.bg-menu .nav-link{
    color: white !important;
}

.bg-menu .nav-link:hover{
    color: rgb(238, 88, 88) !important;
}

footer {
  position:fixed;
  bottom: 0;
  background-color: #f5f5f5;
  width: 100%;
  height: 25px;    
  text-align: center;
  line-height: 25px;
}
  .logo{
      width: 10%;
  }
  .text-logo{
    padding-left: 3rem;
    font-weight: 500;
  }


/*CSS do histórico*/
#historico-content {
  margin-top: 40px;
  height: 700px;
  overflow-y: auto;
  overflow-x: hidden;
}

#historico-search-form{
  padding-top: 8px;
}

#historico-search-form form select{
  margin-left: 60px;
}

#historico-search-type{
  margin-left: auto;

}

.historico-img img{
  width: 100%;
}

.historico-items{
  margin-top: 2em;
  padding: 2em;

}

.historico-type{
  text-align: start;
}

.historico-emprestimo-date{
  text-align: end;
}

/*CSS DO INDEX*/
.icon-succ{
  color:seagreen;
  font-size: 0.7rem;
}
.icon-dang{
  color:red;
  font-size: 0.7rem;
}
.effect-card:hover{
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px 8px #888888;
  font-weight: 500;
  transition: 0.3s;
}

/*CSS CADASTRO DE EQUIPAMENTOS*/
#form-cad{
  width: 500px;
  clear: both;
 
}
#card-cadastro{
  width: 13.5rem;
  }
@media(max-width:1200px){
#img-card{
  height:160px;
  width:220px;
}

} @media(max-width:768px){
#img-card{
height : 80px;
width: 120px;
} #card-cadastro{
  width: 7.8rem;
  }
}

#btn-add{
border-radius: 70px;
height: 20px;
line-height: 10px;
}




#btn-cad {
background-color:#151c48;
color:white;
}
#btn-img {
background-color:grey;
color:white;
}

.hr3 {
border: 0;
height: 4px;
background-image: linear-gradient(to right,transparent,#151c48, rgb(238, 88, 88),transparent);  
position: relative;
top:-35px;
}


.botao-cad {
padding: 10px;
margin-left: 600px;
margin-right: 680px;
background-color: blue;
border-radius: 10px;    
}

.botao-cad a {
text-decoration: none;
color: #f5f5f5;
}


/*CSS DO MODAL SOBRE*/
.modal-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding: 1rem;
  background-color: #f5f5f5;
  
}
.modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e9ecef;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  background-image: linear-gradient(to right, white, White,#151c48, rgb(238, 88, 88));
}
button.close {
  padding: 0;
  background-color: transparent;
  border: 0;
  -webkit-appearance: none;
  background-image:url(img\close-window.png);
}

#modalSobre{
  text-align:start;
  word-wrap:normal;
}

/*CSS da gerencia de empréstimos*/
#gerencia-emprestimos-content {
  margin-top: 40px;
  height: 700px;
  overflow-y: auto;
  overflow-x: hidden;
}

#gerencia-emprestimos-search-form{
  padding-top: 8px;
}

#gerencia-emprestimos-search-form form select{
  margin-left: 60px;
}

#gerencia-emprestimos-search-type{
  margin-left: auto;

}

.gerencia-emprestimos-img img{
  width: 100%;
}

.gerencia-emprestimos-items{
  margin-top: 2em;
  padding: 2em;

}

.gerencia-emprestimos-type{
  text-align: start;
}

.btn-emprestimo{
  margin: auto;
  height:90%;
  width: 100%;
}


@media(max-width:1200px){
  /*CSS do histórico*/
  #historico-search-form{
    padding: 0px;
    margin: auto;
  }

  #historico-search-form #historico-search-type{
    margin-left: 0px;
  }

  /*CSS dda gerencia de emprestimos*/
  #gerencia-emprestimos-search-form{
    padding: 0px;
    margin: auto;
  }

  #gerencia-emprestimos-search-form #gerencia-emprestimos-search-type{
    margin-left: 0px;
  }
}


@media(max-width:768px){
  .logo{
    width: 30%;
    height: 100%;
  }
  
  .text-logo{
      padding-left: 0rem;
      font-size: 1rem;
  }

/*CSS da configuracoes-gerais*/
  #configuracoes-gerais-title h1{
    font-size: 20pt;
  }

  .submit {
    background: blue;
    border-radius: 20px;
  }

/*CSS do histórico*/
  #historico-title h1{
    font-size: 20pt;
  }

  #historico-search-form form select{
    margin: 3px 0px 3px 0px;
  }

  #historico-search-form form input{
    margin: 3px 0px 3px 0px;
  }

  #historico-search-form form input[type=search]{
    width: 100%;
  }

  .historico-emprestimo-date{
    text-align: start;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }

/*CSS da gerencia emprestimos*/
  #gerencia-emprestimos-title h1{
    font-size: 20pt;
  }

  #gerencia-emprestimos-search-form form select{
    margin: 3px 0px 3px 0px;
  }

  #gerencia-emprestimos-search-form form input{
    margin: 3px 0px 3px 0px;
  }

  #gerencia-emprestimos-search-form form input[type=search]{
    width: 100%;
  }


  /*CSS DO INDEX*/
  .effect-card{
    margin-top:10px;
  }

}

.logo-colorida{
  width: 150px;
}
.link-produtos{
  text-decoration: none;
  color:black;
}
.link-produtos:hover{
  text-decoration: none;
  color:black;
}
